.button {
  line-height: 22px;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  gap: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
}

.button:disabled {
  background-color: var(--color-brown30);
}

.outline {
  border: 1px solid var(--color-brown40);
  color: var(--color-brown40);
  background-color: var(--color-brown10);
}

.fill {
  justify-content: center;
  width: 100%;
}

.fill,
.round {
  color: var(--color-white);
  background-color: var(--color-brown40);
}

.round {
  border-radius: 200px;
}

.outline.small,
.outline.large {
  width: 161px;
}

.round.large {
  width: 208px;
  height: 54px;
  border-radius: 200px;
  font-size: 20px;
  line-height: 25px;
}

.round.small {
  width: 100px;
  height: 35px;
  font-size: 15px;
  line-height: 25px;
}

@media (min-width: 768px) and (max-width: 867px) {
  .outline.large {
    width: 166px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .outline.small {
    width: 123px;
    font-size: 14px;
    line-height: 18px;
    height: 34px;

    gap: 4px;
    margin: 24px auto;
  }

  .outline.large {
    width: 127px;
    height: 34px;

    margin-top: 20px;
  }

  .round.large {
    width: 123px;
  }

  .round.small {
    width: 70px;
    height: 25px;
    font-size: 10px;
  }

  .outline.small,
  .outline.large,
  .round.large,
  .round.small {
    padding: 0;
  }
}
