.CardList {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 220px;
  height: 187px;
  border: 1px solid #818181;
  border-radius: 16px;
  padding: 20px;
}

.card_profile {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card_profile > p {
  margin: 0;
}

.card_profile > p {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  line-height: 25px;
}

.card_profile > img {
  width: 60px;
  height: 60px;
  color: #818181;
}

.card_content {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #818181;
}

.card_content_text {
  display: flex;
  flex: 1;
}

@media (min-width: 375px) and (max-width: 767px) {
  .CardList {
    padding: 16px;
  }

  .card_profile > img {
    width: 48px;
    height: 48px;
  }

  .card_profile > p {
    font-size: 18px;
  }

  .card_content {
    font-size: 14px;
  }
}
