.paginationBar {
  display: flex;
  top: 695px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.paginationButton,
.currentPageButton {
  border: none;
  width: 40px;
  height: 40px;
  color: var(--color-gray40);
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
}

.currentPageButton,
.paginationButton:hover {
  color: var(--color-brown40);
}

@media (max-width: 1199px) {
  .paginationBar {
    top: 701px;
  }
}

@media (min-width: 768px) and (max-width: 867px) {
  .paginationBar {
    top: 716px;
  }
}

@media (max-width: 767px) {
  .paginationBar {
    top: 820px;
  }
}
