.mainWrap {
  background: url('../../assets/images/main_bg.jpg') no-repeat center bottom;
  min-height: 100vh;
  padding: 45px 0 300px;
  background-size: 100%;
}
.right {
  display: flex;
  justify-content: flex-end;
}
.center {
  text-align: center;
}
.center a {
  display: inline-block;
  margin-top: 69px;
}
